{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/css/master.css">
<script src="index.js"></script>
</head>
<header>
  <link rel="stylesheet" href="https://tristangoodell.com/assets/css/master.css">
  <div style="height: 60%;">
  <div class="banner" style="height: 100%;">
    <style>
      .banner {
        background-image: url(https://tristangoodell.com/assets/images/banner.png);
      }
    </style>

  <div style="text-align:center;padding:30px;padding-bottom:0px;">

  <img src="https://tristangoodell.com/assets/images/logo.png" class="logo" style="margin:10px;margin-top:7%;"></img>
  <p class="title" style="margin-top:2%;">Tristan Goodell</p>

  </div>
  </div>
  </div>
  <nav>
<div class="topnav" id="myTopnav">
  <div style="text-align: center">
    <a href="https://tristangoodell.com/">Home</a>
    <a href="https://tristangoodell.com/tag/blog">Blog</a>
    <a href="https://tristangoodell.com/webdesign/index.html">Web Design</a>
    <a href="https://tristangoodell.com/consulting/index.html">Consulting</a>
    <a href="https://tristangoodell.com/about/index.html">About</a>
    <a href="https://tristangoodell.com/contact/index.html">Contact</a>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars"></i>
</a>
</div>
</div>
</nav>
{{#post}}

<header class="main-header post-head para {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if feature_image}}overlay{{/if}} clearfix">
    </nav>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    </article>
</main>
{{/post}}

<footer>
<p style="text-align:center" class="footer">Copyright Tristan Goodell 2018</p>
</footer>
