{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/css/master.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="assets/js/nav.js"></script>
</head>
<header style="height: 60%;">
  <div class="banner" style="height: 100%;">
    <style>
      .banner {
        background-image: url(https://tristangoodell.com/assets/images/banner.png);
      }
    </style>

  <div style="text-align:center;padding:30px;">

  <img src="https://tristangoodell.com/assets/images/logo.png" class="logo" style="margin:10px;margin-top:7%;"></img>
  <p class="title" style="margin-top:2%;">Tristan Goodell</p>

  </div>
  </div>
</header>

  <nav>
  <div class="topnav" id="myTopnav">
    <div style="text-align: center">
      <a href="https://tristangoodell.com/" style="font-size: 25px;margin: 4px;">Home</a>
      <a href="https://tristangoodell.com/tag/blog" style="font-size: 25px;margin: 4px;">Blog</a>
      <a href="https://tristangoodell.com/webdesign" style="font-size: 25px;margin: 4px;">Web Design</a>
      <a href="https://tristangoodell.com/about" style="font-size: 25px;margin: 4px;">About</a>
      <a href="https://tristangoodell.com/contact" style="font-size: 25px;margin: 4px;">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars" style="font-size:35px;"></i>
  </a>
  </div>
  <div style="float:right;">
    <a href="https://twitter.com/tristangoodell/" class=""style="margin:0;"><image src="../assets/images/twitter.png" style="height:40px;margin:0;"></image></a>
  </div>
  </div>
  </nav>

{{#post}}
<div class="blog-img w3-mobile" style="width: 40%;margin:auto;">
<div class="main-header post-head {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}};width:100%;">
</div>

</div>
<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
            <section class="social-share">
                {{> "social_share"}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section class="social-share">
            {{> "social_share"}}
        </section>

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if author.profile_image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{author.profile_image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}



        <section class="post-comments">
          <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "ghost-{{comment_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tristangoodell.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </section>

        </footer>

    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>


{{/post}}

<footer>
<p style="text-align:center;margin:auto;" class="footer">Tristan Goodell © 2018</p>
</footer>
